@import url(style_header.css);
@import url(main.css);
@import url(sub.css);
@import url(sub2.css);
@import url(footer.css);


:root{  /*변수 할당해서 사용 */ 
    --text-color1 : #BDA69F;
    --text-color2 : #56423C;
    --dark-color : #444;
    --background-color1 : #FFE6D6;
    --background-color2 : #FA855E;
    --accent-color : #A8655F;
    --point-color :#6FB757;
    --color-pink : #F16C7E;
 
}

body{
    margin: 0;
    font-family: 'Source Sans Pro'; /*폰트체*/
    background-color: var(--background-color0);
}

a{
    text-decoration: none;
    color: var(--text-color1);
}

